<div class="container min-vh-75">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8 d-flex align-items-center justify-content-center">
    <div class="text-center">
    会員管理<br>
    <%= link_to '生徒一覧', admin_users_path %>
    <%= link_to '講師一覧', admin_teachers_path %>
    </div>
    </div>
    <div class="col-2">
    </div>
  </div>
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8 d-flex align-items-center justify-content-center">
    <div class="text-center">
    レッスン管理<br>
    レッスン一覧
    レッスン申請承諾
    </div>
    </div>
    <div class="col-2">
    </div>
  </div>
</div>