
<%= render 'shared/flash_messages.html' %>
<div class="jumbotron mb-0">
  <div class="container text-center container-jumbotron">
    <h1 class="display-4">りもーとレッスン♪</h1>
    <h5 class="">おうちでレッスン受ませんか？はじめてピアノから上級者さんまで豊富なレッスンで上達しましょう！</h5>
    <br>
    <a class="btn btn-secondary btn-lg" href="#" role="button">レッスンをさがす</a>
  </div>
</div>

<div class="container-fluid feature-wrap">
    <div class="row p-5">
      <div class="col-lg-4 text-center">
        <i class="fas fa-music fa-3x icon-index"></i>
        <h4>あなたぴったりのレッスン</h4>
        <p class="text-left">たくさんのレッスンがあるから、あなたにぴったりのレッスン、先生に出会えちゃいます。</p>
      </div>
      <div class="col-lg-4 text-center">
        <i class="fas fa-home fa-3x"></i>
        <h4>おうちレッスンだから</h4>
        <p class="text-left">外出しなくていいからプライベート時間を確保できます。</p>
      </div>

      <div class="col-lg-4 text-center">
        <i class="fas fa-piggy-bank fa-3x"></i>
        <h4>お手頃プライス</h4>
        <p class="text-left">月謝ではなくワンポイントレッスンから用意されてるので、お手軽に始められちゃいます。もちろん本格レッスンもありますよ。</p>
      </div>
    </div>
</div>

