<header>
  <nav class="navbar navbar-expand-lg navbar-lights">
    <a class="navbar-brand" href="#">りもーとレッスン♪</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">ホーム<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">レッスン一覧</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ログイン</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">会員登録</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="jumbotron mb-0">
  <div class="container text-center container-jumbotron">
    <h1 class="display-4">りもーとレッスン♪</h1>
    <h5 class="">おうちでレッスン受ませんか？はじめてピアノから上級者さんまで豊富なレッスンで上達しましょう！</p>
    <a class="btn btn-secondary btn-lg" href="#" role="button">レッスンをさがす</a>
  </div>
</div>

<div class="container-fluid feature-wrap">
    <div class="row p-5">
      <div class="col-lg-4 text-center">
        <i class="fas fa-music fa-3x icon-index"></i>
        <h4>あなたぴったりのレッスン</h4>
        <p class="text-left">たくさんのレッスンがあるから、あなたにぴったりのレッスン、先生に出会えちゃいます。</p>
      </div>
      <div class="col-lg-4 text-center">
        <i class="fas fa-home fa-3x"></i>
        <h4>おうちレッスンだから</h4>
        <p class="text-left">外出しなくていいからプライベート時間を確保できます。</p>
      </div>

      <div class="col-lg-4 text-center">
        <i class="fas fa-piggy-bank fa-3x"></i>
        <h4>お手頃プライス</h4>
        <p class="text-left">月謝ではなくワンポイントレッスンから用意されてるので、お手軽に始められちゃいます。もちろん本格レッスンもありますよ。</p>
      </div>
    </div>
</div>

<footer class="container-fluid text-center bg-dark">
    <div class="row p-2">
      <div class="col-lg-12">
        <p class="text-white">Copyright © Tsubasa Kasuga 2020</p>
      </div>
    </div>
</footer>