<div class="container-fluid lesson-index-wrap">
    <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 p-5">

    <h1 class="text-center pb-4">レッスン一覧</h1>
    <% if @lessons.present? then %>
        <% @lessons.each do |lesson| %>
          <div class="row p-2 m-0 lesson">
          <div class="col-sm-12 text-left">
            <ul class="lessons">
              <li class="text-left">
                レッスン名:<%= lesson.title %>
              </li>
              <li>
                講師:<%= lesson.teacher.name %>
              </li>
              <li>
                <%= lesson.description %>
              </li>
              <li>
                <%= link_to '詳細', lesson_path(lesson) %>
              </li>
            </ul>    
          </div>
          </div>
        <% end %>
    <% else %>
        <p class="text-center">受講中のレッスンはありません。</p>
    <% end %>
    
    </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>