$main-color: #FFCCD6;
$main-color: #f8f9fa;
// $sub-color: #FF6688;
$sub-color: #343a40;
// $font-main-color: #990088;
$font-main-color: #343a40;
$font-sub-color: white;
$card-bg-color: #f8e8eb;
$card-bg-color: #dee2e6;
$active-tab-bg-color:#E00033;
$active-tab-bg-color:#007bff;

html, body {height: 100%;}

.main-contents {
    min-height:725px;
    background-color:$main-color;
    color: $font-main-color;
}

.navbar {
    background-color:$sub-color;
    a {
        color: $font-sub-color;
    }
    .navbar-toggler {
        background-color: $main-color;
        border-color: #000;
    }

}


.nav-link.active {
    background-color:$sub-color;
}

.jumbotron {
    background:url(3696582_m.jpg) center no-repeat;
    background-size: cover;
    height: 500px;
   letter-spacing : 2px;                /* 文字間 */
}

.feature-wrap {
    background-color:$main-color;
    color:$font-main-color;
}

.profile-wrap {
    background-color:$main-color;
    color:$font-main-color;
    text-align: center;
}

.lesson-wrap {
    background-color:$main-color;
    color:$font-main-color;
    
    .title {
        background-color:$main-color;
        text-align: right;
    }
    .lesson-tab {
        text-align: center;
        border-color: black;
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: $active-tab-bg-color;
    }

    .nav-pills .nav-link {
        background-color: $card-bg-color;
    }


}

.footer-copyright{
    background-color:#6d5a5a42;
}

.lessons {
    list-style: none;
    margin: 0;
    padding-left: 0px;
    li {
        overflow: auto;
        height: 25px;
      }
}

.tab-lesson {
    background-color:$card-bg-color;
    color:$font-main-color;
    img {
        width: 250px;
        max-height: 150px;
        object-fit: cover;
      }
}

// レッスン詳細ページ
.lesson-image {
    img {
        width: 3000px;
        max-height: 500px;
        object-fit: cover;
      }
}

.lesson-apply-wrap {
    background-color:$card-bg-color;
}

.lesson-teacher-wrap {
    background-color:$card-bg-color;
}

.lesson-index-wrap {
    .lesson {
        background-color:$card-bg-color;
        border-bottom: medium solid $main-color;
    }
}

.card-body {
    background-color:$card-bg-color;
    color:$font-main-color; 
    
}

