.main-contents {
    min-height:700px;
    background-color:#FFCCD6;
    color: #990088;
}

.navbar {
    background-color:#FF6688;
    a {
        color: white;
    }
    .navbar-toggler {
        background-color: #FFCCD6;
        border-color: #000;
    }

}


.nav-link.active {
    background-color:#FF6688;
}

.jumbotron {
    background:url(header-bg.jpg) center no-repeat;
    background-size: cover;
    height: 650px;
}

.container-jumbotron {
    padding-top: 13%;
    color: #FF6688;
     text-shadow: 
       2px  2px 1px #000,
      -2px  2px 1px #000,
       2px -2px 1px #000,
      -2px -2px 1px #000,
       2px  0px 1px #000,
       0px  2px 1px #000,
      -2px  0px 1px #000,
       0px -2px 1px #000;        /* 文字の影 */
    letter-spacing : 4px;                /* 文字間 */
}

.feature-wrap {
    background-color:#FFCCD6;
    color: #990088;
}

.profile-wrap {
    background-color:#FFCCD6;
    color: #990088;
    text-align: center;
}

.lesson-wrap {
    background-color:#FFCCD6;
    color: #990088;
    
    .title {
        background-color:#FFCCD6;
        text-align: right;
    }
    .lesson-tab {
        text-align: center;
        border-color: black;
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: #E00033;
    }

    .nav-pills .nav-link {
        background-color: #f8e8eb;
    }


}

.footer-copyright{
    background-color:#6d5a5a42;
}

.lessons {
    list-style: none;
    margin: 0;
    padding-left: 0px;
    li {
        overflow: auto;
        height: 25px;
      }
}

.tab-lesson {
    background-color:#f8e8eb;
    color: #990088;
    img {
        width: 250px;
        max-height: 150px;
        object-fit: cover;
      }
}

// レッスン詳細ページ
.lesson-image {
    img {
        width: 3000px;
        max-height: 500px;
        object-fit: cover;
      }
}

.lesson-apply-wrap {
    background-color:#f8e8eb;
}

.lesson-teacher-wrap {
    background-color:#f8e8eb;
}

.lesson-index-wrap {
    .lesson {
        background-color:#f8e8eb;
        border-bottom: medium solid #FFCCD6;
    }
}

.card-body {
    background-color:#f8e8eb;
    color: #990088; 
    
}

