<div class="container-fluid footer-copyright">
    <div class="row">
    <div class="col-12">
      <footer class="footer text-center p-3">
        Copyright © Tsubasa Kasuga 2020
      </footer>
    </div>
    </div>
</div>

