<div class="container-fluid footer-copyright">
    <div class="row">
    <div class="col-12">
      <div class="text-center p-3">
        Copyright © Tsubasa Kasuga 2020
      </div>
    </div>
    </div>
</div>

